.btn
  color: $text-color
  background: $btn-color
  display: inline-block
  border: none
  padding: 5px 35px
  font-size: $font-size
  @include transition()
  &:hover
    background: $accent
    color: #fff