.footer
  color: #fff
  background: $text-color
  padding: 35px 0 40px

  &__info
    float: right
    text-align: right

  .logo
    width: 172px
    margin: 0 0 35px
    display: inline-block
    .recolor
      fill: #fff

  &__phones
    margin: 0 0 20px
    font-size: $font-max
    > a
      display: block

  &__links
    &__top
      text-transform: uppercase
      display: block
      margin: 0 0 25px
      font-size: $font-max
      &:not(a)
        cursor: default

    ul > li
      margin: 0 0 5px


.footer__bottom
  background: #000
  color: #fff
  line-height: 70px
  font-size: $font-max


.social
  float: right
  font-size: 0
  line-height: 0
  padding-top: 15px

  &__item
    margin-left: 10px
    box-sizing: content-box
    padding: 10px
    > img
      @include square(inherit)

    &.inst,
    &.twitter
      path
        @include transition(fill)
      &:hover path
        fill: $accent

    &.facebook,
    &.vk
      path
        @include transition(stroke)
      &:hover path
        stroke: $accent


    &.inst
      @include square(20px)
    &.facebook
      @include size(11px, 20px)
    &.vk
      @include size(35px, 20px)
    &.twitter
      @include size(26px, 20px)