.footer
  color: #fff
  background: $text-color
  padding: 35px 0 40px

  &__info
    float: right
    text-align: right

  .logo
    width: 172px
    margin: 0 0 35px
    display: inline-block

  &__phones
    margin: 0 0 20px
    font-size: $font-max
    > a
      display: block

  &__links
    &__top
      text-transform: uppercase
      display: block
      margin: 0 0 25px
      font-size: $font-max
      &:not(a)
        cursor: default

    ul > li
      margin: 0 0 5px


.footer__bottom
  background: #000
  color: #fff
  line-height: 70px
  font-size: $font-max