.pickup
  &__wrapper
    position: relative
    @include mobile
      @include clearfix

  &__carousel
    @include mobile
      position: static
      padding-bottom: 60px

  .title
    @include tablet
      padding-left: 25px

  &__filter
    position: relative
    z-index: 1
    width: 250px
    float: left
    background: $decoration-color
    margin-right: 15px
    @include mobile
      width: calc(50% - 15px)

    &__item
      display: block
      padding-left: 25px
      line-height: 50px
      @include transition(background)
      @include desktop
        font-size: $font-mid
      @include mobile
        font-size: 14px
        padding-left: 10px
        line-height: 40px

      &:hover
        background: darken($decoration-color, 5%)
        color: inherit

      &.active
        background: $dark-color
        pointer-events: none

  .row
    margin: 0
    //flex-grow: 1
    @include tablet
      padding-right: 50px
    @include desktop
      padding-right: 70px
    @include mobile
      float: left
      width: calc(50% - 15px)
      margin-left: 15px

  &__item
    position: relative
    text-align: center
    overflow: hidden
    @include tablet
      padding: 0 15px

    .btn
      @include mobile
        display: block
        padding-left: 0
        padding-right: 0
        text-align: center

    &__pic
      display: block
      height: 190px
      position: relative
      margin-bottom: 31px
      @extend .bg--ge--light
      @include mobile
        height: 140px

      &:before
        opacity: .8
        @include transition(opacity)

      &:hover:before
        opacity: 1

    span
      position: absolute
      top: 15px
      left: 0
      right: 0
      z-index: 1
      @include desktop
        font-size: $font-mid

  .arrow
    @include align(false)
    right: -50px
    @include desktop
      right: -70px