html, body
  height: 100%

*, *:before, *:after
  box-sizing: border-box
  outline: none !important

body
  color: $text-color
  background: $light-color
  font-family: 'Roboto', sans-serif
  font-size: $font-size
  font-weight: 300
  overflow-x: hidden
  @include transition(background)
  &.night
    background: $dark-color
    color: #fff

a
  color: $accent
  display: inline-block
  text-decoration: none
  transition: color .3s linear
  &:hover
    color: darken($accent, 20%)
    text-decoration: none


.link
  color: inherit
  &:hover
    color: $accent

.container
  max-width: 900px
  padding: 15px
  margin: 0 auto
  @include clearfix
  &.flex
    display: flex
    flex-direction: row
    justify-content: space-between
    height: 100%
    padding-top: 100px
    padding-bottom: 100px

ul
  list-style: none
  padding-left: 0
  margin: 0
  li
    list-style: inherit

h1, h2, h3, h4, h5, h6
  font-size: 1.2em
  line-height: 1em
  margin: 0

h1
  font-size: 1.5em

p
  margin: 0 0 1em

button
  cursor: pointer

.hidden
  opacity: 0
  padding: 0
  margin: 0
  font-size: 0
  position: absolute
  border: none

.clearfix
  @include clearfix

img
  max-width: 100%

.content
  margin-bottom: 30px

.text-center
  text-align: center